:root {
	--white: #fff;
	--black: #000;
	--light-pink: rgb(252, 242, 242);
	--light-blue: #3759bf;
	--opacity-white: rgba(255, 255, 255, 0.8);
	--dark-brown: rgb(15, 15, 16);
	--pink: #DA0C81;
	--medium-pink: #f5c7e1;
	--dark-blue: #252B48;
	--instagram-color: #AE445A;
	--green-lemon: #d0fc0e;

	--font-primary: 'Oswald', sans-serif;


}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--black);

}

/*Estilização Header*/


.cabecalho {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--black);

}

.imagem__perfil img {
	width: 200px;
	height: auto;
	border-radius: 50%;
	margin: 1em
}

.navegacao ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	gap: 22px;
	margin: 0;
	padding: 0;;

}

.navegacao a {
	text-transform: uppercase;
	color: var(--light-pink);
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	font-family: var(--font-primary);

}

.navegacao a:hover {
	color: var(--green-lemon );
	text-decoration: none;
}


/* Estilização do Quem sou Eu */

.quemSou {
	padding: 3em 0;
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
	position: relative;
}


.titulo-principal {
	text-align: center;
	font-size: 2em;
	clear: left;
	font-family: 'Arvo', serif;
	color: var(--dark-brown);
	font-size: 3rem;
	background: var(--opacity-white);
	/* Fundo semi-transparente para o texto */

}



.quemSou video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* Preenche toda a seção mantendo a proporção */
	z-index: -1;
}


.quemSou p {
	text-align: center;
	color: var(--black);
	font-size: 1.2rem;
	background: var(--opacity-white);
	/* Fundo semi-transparente para o texto */
	border-radius: 5px;
	box-shadow: 0 0 10px var(--black);
	/* Sombra para destacar o texto */
}

.quemSou p {
	text-align: center;
	font-size: 1.2rem;

}

.orcamento {
	color: var(--black);
	font-weight: 900;
	text-align: center;
	font-size: 2rem;
	background: var(--opacity-white);
	/* Fundo semi-transparente para o texto */

}


.link__instagram__texto {
	font-size: 2rem;
	text-decoration: none;
	color: var(--pink);
	border-radius: 10px;
	font-weight: 900;
}

.link__instagram__texto:hover {
	background-color: var(--medium-pink);
}


/*Estilização Banner*/

.banner {
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: 490px;
}

.banner img {
	width: 33vw;



}


/* Estilização dos videos de apresentação*/

.apresentacao__videos {
	display: flex;
	justify-content: center;

	background-color: var(--black);
}

/* Estilização Rodapé */

footer {
	display: flex;
	flex-direction: column;
	background-color: var(--black);

}

.copyrigth {
	text-align: center;
	color: var(--medium-pink);
	font-size: 13px;
	margin: 20px;
}


form label,
form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;

}


/* Contatos */

.contatos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 3em;

}

.titulo__contatos {
	color: #252B48;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: calc(1.325rem + .9vw);

}

.list__contatos {
	display: flex;
	flex-direction: column;
	gap: 40px;
	font-size: 50px;
	padding: 0 1em;

}

.navegation__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.item__contatos {
	text-decoration: none;
	align-items: center;
	border-radius: 4px;

}

.link__tikTok,
.link__instagram,
.link__facebook {
	color: var(--dark-blue);
	font-family: 'Oswald', sans-serif;
	font-size: 44px;

}

.link__tikTok:hover {
	background-color: var(--black);
	color: var(--white);
}

.link__instagram:hover {
	background-color: var(--instagram-color);
	color: var(--white);
}

.link__facebook:hover {
	background-color: var(--light-blue);
	color: var(--white);
}



/* Media Query */

@media screen and (max-width: 760px) {

	.cabecalho {
		height: 200px;
	}

	.imagem__perfil img {
		width: 160px;
		margin: 0 auto;
		padding-left: 1em;
	}

	.navegacao {
		padding: 1em;
	}

	.navegacao ul {
		display: flex;
		flex-direction: column;


	}

	.banner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.banner img {
		width: 100%;
		border: var(--white) solid 0.1px;
	}

	.apresentacao__videos {
		display: flex;
		flex-wrap: wrap;
		background-color: var(--black);


	}



}