body {
	box-sizing: border-box;
	background-color: #000000;
	
}

/*Estilização Header*/


.cabecalho {	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 280px;
	background: #060505;


}

.imagem__perfil img{
	width: 35%;
	height: 60%;
	border-radius: 50%;
}

.navegacao ul li {
	display: flex;
	list-style-type: none;

}

.navegacao a {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	color: rgb(252, 242, 242);
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;

}

.navegacao a:hover{
	color: #3759bf;
	text-decoration: none;
}


/* Estilização do Quem sou Eu */

.quemSou {
	padding: 3em 0;
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
	position: relative;
  }


.titulo-principal {
	text-align: center;
	font-size: 2em;
	clear: left;
	font-family: 'Arvo', serif;
	color: rgb(15, 15, 16);
	font-size: 3rem;
	background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para o texto */

}



  .quemSou video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Preenche toda a seção mantendo a proporção */
	z-index: -1;
  }
  

  .quemSou p {
	text-align: center;
	color: #000000;
	font-size: 1.2rem;
	background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para o texto */
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Sombra para destacar o texto */
  }

.quemSou p {
  text-align: center;
  font-size: 1.2rem;
	
}

.orcamento {
	color: #000000;
	font-weight: 900;
	text-align: center;
	font-size: 2rem;
	background: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente para o texto */

}


.link__instagram__texto {
	font-size: 2rem;
	text-decoration: none;
	color: #DA0C81;
	border-radius: 10px;
	font-weight: 900;
}

.link__instagram__texto:hover {
	background-color: #f5c7e1;
}


/*Estilização Banner*/

.banner{
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: 490px;
}

.banner img {
	width: 33vw;
	
	

}


/* Estilização dos videos de apresentação*/

.apresentacao__videos {
	display: flex;
	justify-content: center;
	
	background-color: black;
}
/* Estilização Rodapé */

footer {
	display: flex;
	flex-direction: column;
	background-color: #000000;

}

.copyrigth {
	text-align: center;
	color: #eae8ed;
	font-size: 13px;
	margin: 20px;
}


form label, form legend {
	display: block;
	font-size: 20px;
	margin:  0 0 10px;

}


/* Contatos */

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100%;
	padding: 3em;

}

.titulo__contatos{
    color: #252B48;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: calc(1.325rem + .9vw);

}

.list__contatos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 50px;
    padding: 0 1em;
    
}

.navegation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.item__contatos {
    text-decoration: none;
    align-items: center;
	border-radius: 4px;
   
}

.link__tikTok,
.link__instagram,
.link__facebook{
    color: #0E2954;
	font-family: 'Oswald', sans-serif;
    font-size: 44px;

}

.link__tikTok:hover {
	background-color: #000000;
	color: #fff;
}

.link__instagram:hover {
	background-color: #AE445A;
	color: #fff;
}

.link__facebook:hover {
	background-color: #6499E9;
	color: #fff;
}



/* Media Query */

@media screen and (max-width: 760px) {

	.cabecalho {
		height: 200px;
	}

	.imagem__perfil img {
		width: 160px;
	  	margin: 0 auto;
		padding-left: 1em;
	}
  
	.navegacao {
		padding: 1em;
	}

	.navegacao ul li{
	  display: flex;
	  flex-direction: column;
	  
	 
	}

	.banner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.banner img {
		width: 100%;
		border: #FFFFFF solid 0.1px;
  }

	.apresentacao__videos {
		display: flex;
		flex-wrap: wrap;
		background-color: #000000;
	

	} 



}